In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#school_data_complete.head()
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
total_schools = school_data["school_name"].nunique()
total_students = student_data["student_name"].count()
total_budget = school_data["budget"].sum()
average_math_score = student_data["math_score"].mean()
average_reading_score = student_data["reading_score"].mean()
total_passing_rate = (average_reading_score + average_math_score) / 2

15
39170
24649428
78.98537145774827
81.87784018381414
80.43160582078121

In [10]:
#data frame for math passing score of 70 or greater
mathdf = student_data.loc[student_data ["math_score"]>=70]
percent_pass_m = mathdf['student_name'].count() / total_students
percent_pass_m

0.749808526933878

In [16]:
#data frame for reading passing score of 70 or greater
readingdf = student_data.loc[student_data ["reading_score"]>=70]
percent_pass_r = readingdf['student_name'].count() / total_students
percent_pass_r

0.8580546336482001

In [17]:
#Create summary dataframe
district_summary= pd.DataFrame({"Total_Schools": [total_schools],
                                "Total_Students": [total_students],
                                "Total_Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "Percent Passing Math": [percent_pass_m],
                                "Percent Passing Reading": [percent_pass_r],
                                "% Overall Passing Rate": [total_passing_rate] 
                               })
district_summary

,Total_Schools,Total_Students,Total_Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.858055,0.858055,80.431606

In [4]:
pd.__version__

'0.24.2'