In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()
#student_data.head()
#school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
total_schools = school_data["school_name"].nunique()
total_students = student_data["student_name"].count()
total_budget = school_data["budget"].sum()
average_math_score = student_data["math_score"].mean()
average_reading_score = student_data["reading_score"].mean()
total_passing_rate = (average_reading_score + average_math_score) / 2

In [3]:
#data frame for math passing score of 70 or greater
mathdf = student_data.loc[student_data ["math_score"]>=70]
percent_pass_m = mathdf['student_name'].count() / total_students
#percent_pass_m

In [4]:
#data frame for reading passing score of 70 or greater
readingdf = student_data.loc[student_data ["reading_score"]>=70]
percent_pass_r = readingdf['student_name'].count() / total_students
#percent_pass_r

In [5]:
#Create summary dataframe
district_summary= pd.DataFrame({"Total_Schools": [total_schools],
                                "Total_Students": [total_students],
                                "Total_Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "Percent Passing Math": [percent_pass_m],
                                "Percent Passing Reading": [percent_pass_r],
                                "% Overall Passing Rate": [total_passing_rate] 
                               })
district_summary

,Total_Schools,Total_Students,Total_Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

In [6]:
# Determine the School Type
school_types = school_data.set_index(["school_name"])["type"]

In [7]:
# Calculate the total student count
per_school_counts = school_data_complete["school_name"].value_counts()

In [8]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [9]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [10]:
# Calculate the passing scores by creating a filtered data frame
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]

per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = (per_school_passing_math + per_school_passing_reading) / 2

In [11]:
# Convert to data frame
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_school_math,
                                   "Average Reading Score": per_school_reading,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing Rate": overall_passing_rate})

In [12]:
# Top Five Performing Schools (By Passing Rate)
per_school_summary.sort_values(by=['% Overall Passing Rate'], inplace=True, ascending=False)
per_school_summary.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [13]:
# Bottom Five Performing Schools (By Passing Rate)
per_school_summary.sort_values(by=['% Overall Passing Rate'], inplace=True)
per_school_summary.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [19]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
eleventh_graders_scores =eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [20]:
# Convert to data frame for Math Scores
math_by_grade = pd.DataFrame({"9th": ninth_graders_scores,
                              "10th": tenth_graders_scores,
                              "11th": eleventh_graders_scores,
                              "12th": twelfth_graders_scores})
math_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [ ]:
ninth_graders_rd = school_data_complete[(school_data_complete["grade"] == "9th")]
ninth_graders_scores_rd = ninth_graders_rd.groupby(["school_name"]).mean()["reading_score"]

tenth_graders_rd = school_data_complete[(school_data_complete["grade"] == "10th")]
tenth_graders_scores_rd = ninth_graders_rd.groupby(["school_name"]).mean()["reading_score"]

eleventh_graders_rd = school_data_complete[(school_data_complete["grade"] == "11th")]
eleventh_graders_scores_rd = ninth_graders_rd.groupby(["school_name"]).mean()["reading_score"]

twelve_graders = school_data_complete[(school_data_complete["grade"] == "12th")]
twelve_graders_scores_rd = ninth_graders_rd.groupby(["school_name"]).mean()["reading__score"]

In [ ]:
# Convert to data frame for Reading Scores
reading_by_grade = pd.DataFrame({"9th": ninth_graders_scores_rd,
                              "10th": tenth_graders_scores_rd,
                              "11th": twelve_graders_scores_rd,
                              "12th": eleventh_graders_scores_rd})
reading_by_grade