In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#school_data_complete.head()
#student_data.head()

In [2]:
#school_data.head()

In [3]:
#school_data_complete.head(10)

In [4]:
total_schools = school_data["school_name"].nunique()
total_students = student_data["student_name"].count()
total_budget = school_data["budget"].sum()
average_math_score = student_data["math_score"].mean()
average_reading_score = student_data["reading_score"].mean()
total_passing_rate = (average_reading_score + average_math_score) / 2

In [5]:
#data frame for math passing score of 70 or greater
mathdf = student_data.loc[student_data ["math_score"]>=70]
percent_pass_m = mathdf['student_name'].count() / total_students
#percent_pass_m

In [6]:
#data frame for reading passing score of 70 or greater
readingdf = student_data.loc[student_data ["reading_score"]>=70]
percent_pass_r = readingdf['student_name'].count() / total_students
#percent_pass_r

In [7]:
#Create summary dataframe
district_summary= pd.DataFrame({"Total_Schools": [total_schools],
                                "Total_Students": [total_students],
                                "Total_Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "Percent Passing Math": [percent_pass_m],
                                "Percent Passing Reading": [percent_pass_r],
                                "% Overall Passing Rate": [total_passing_rate] 
                               })
district_summary

,Total_Schools,Total_Students,Total_Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

In [16]:
# Determine the School Type
school_types = school_data.set_index(["school_name"])["type"]

In [9]:
# Calculate the total student count
per_school_counts = school_data_complete["school_name"].value_counts()

In [10]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [11]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [12]:
# Calculate the passing scores by creating a filtered data frame
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]

per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = (per_school_passing_math + per_school_passing_reading) / 2

In [18]:
# Convert to data frame
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_school_math,
                                   "Average Reading Score": per_school_reading,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing Rate": overall_passing_rate})

In [19]:
per_school_summary.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

In [20]:
top_schools = per_school_summary.groupby(['School Type'])
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875

In [ ]:
#Likely can take this out.

#Top Performing Schools (By Passing Rate) List
#top_schools_zip = list(zip(school, school_type, school_size, 
                           #school_budget, student_budget, str(school_avg_math), str(school_avg_rdg), 
                           #school_math_pass, school_rdg_pass, str(sch_percent_rdg_pass), 
                           #str(sch_percent_math_pass), str(school_overall_pass)))
#type(top_schools_zip)
#Top Performing Schools (By Passing Rate) dataframe
#district_summary= pd.DataFrame(top_schools_zip)
#district_summary

In [ ]:
#Top Performing Schools (By Passing Rate) dataframe
#district_summary= pd.DataFrame(top_schools_zip)
#district_summary