In [84]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#school_data_complete.head()
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [85]:
total_schools = school_data["school_name"].nunique()
total_students = student_data["student_name"].count()
total_budget = school_data["budget"].sum()
average_math_score = student_data["math_score"].mean()
average_reading_score = student_data["reading_score"].mean()
total_passing_rate = (average_reading_score + average_math_score) / 2

In [86]:
#data frame for math passing score of 70 or greater
mathdf = student_data.loc[student_data ["math_score"]>=70]
percent_pass_m = mathdf['student_name'].count() / total_students
percent_pass_m

0.749808526933878

In [87]:
#data frame for reading passing score of 70 or greater
readingdf = student_data.loc[student_data ["reading_score"]>=70]
percent_pass_r = readingdf['student_name'].count() / total_students
percent_pass_r

0.8580546336482001

In [88]:
#Create summary dataframe
district_summary= pd.DataFrame({"Total_Schools": [total_schools],
                                "Total_Students": [total_students],
                                "Total_Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "Percent Passing Math": [percent_pass_m],
                                "Percent Passing Reading": [percent_pass_r],
                                "% Overall Passing Rate": [total_passing_rate] 
                               })
district_summary

,Total_Schools,Total_Students,Total_Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

In [89]:
school = school_data["school_name"]
school_type = school_data["type"]
school_size = school_data["size"]
school_budget = school_data["budget"]
student_budget = school_budget / school_size
school_avg_math = student_data["math_score"].mean()
school_avg_rdg = student_data["reading_score"].mean()

In [90]:
school_math_pass = student_data.loc[student_data["math_score"]>=70]
school_rdg_pass = student_data.loc[student_data["reading_score"]>=70]

In [91]:
sch_percent_rdg_pass = school_rdg_pass['student_name'].count() / total_students
sch_percent_math_pass = school_math_pass['student_name'].count() / total_students
school_overall_pass = (sch_percent_math_pass + sch_percent_rdg_pass) / 2
school_rdg_pass
type(sch)

numpy.float64

In [92]:
#Top Performing Schools (By Passing Rate)
top_schools_zip = list(zip(school, school_type, school_size, 
                           school_budget, student_budget, str(school_avg_math)))

In [93]:
#Top Performing Schools (By Passing Rate) List
top_schools_zip = list(zip(school, school_type, school_size, 
                           school_budget, student_budget, str(school_avg_math), str(school_avg_rdg), 
                           school_math_pass, school_rdg_pass, str(sch_percent_rdg_pass), 
                           str(sch_percent_math_pass), str(school_overall_pass)))
type(top_schools_zip)
#Top Performing Schools (By Passing Rate) dataframe
district_summary= pd.DataFrame(top_schools_zip)
district_summary

,0,1,2,3,4,5,6,7,8,9,10,11
0,Huang High School,District,2917,1910635,655.0,7,8,Student ID,Student ID,0,0,0
1,Figueroa High School,District,2949,1884411,639.0,8,1,student_name,student_name,.,.,.
2,Shelton High School,Charter,1761,1056600,600.0,.,.,gender,gender,8,7,8
3,Hernandez High School,District,4635,3022020,652.0,9,8,grade,grade,5,4,0
4,Griffin High School,Charter,1468,917500,625.0,8,7,school_name,school_name,8,9,3
5,Wilson High School,Charter,2283,1319574,578.0,5,7,reading_score,reading_score,0,8,9
6,Cabrera High School,Charter,1858,1081356,582.0,3,8,math_score,math_score,5,0,3

In [94]:
#Top Performing Schools (By Passing Rate) dataframe
district_summary= pd.DataFrame(top_schools_zip)
district_summary

,0,1,2,3,4,5,6,7,8,9,10,11
0,Huang High School,District,2917,1910635,655.0,7,8,Student ID,Student ID,0,0,0
1,Figueroa High School,District,2949,1884411,639.0,8,1,student_name,student_name,.,.,.
2,Shelton High School,Charter,1761,1056600,600.0,.,.,gender,gender,8,7,8
3,Hernandez High School,District,4635,3022020,652.0,9,8,grade,grade,5,4,0
4,Griffin High School,Charter,1468,917500,625.0,8,7,school_name,school_name,8,9,3
5,Wilson High School,Charter,2283,1319574,578.0,5,7,reading_score,reading_score,0,8,9
6,Cabrera High School,Charter,1858,1081356,582.0,3,8,math_score,math_score,5,0,3

In [99]:
per_school_summary = pd.DataFrame({"School Name": school,
                                   "School Type": school_type,
                                   "Total Students": school_size,
                                   "Total School Budget": school_budget,
                                   "Per Student Budget": student_budget,
                                   "Average Math Score": school_avg_math,
                                   "Average Reading Score": school_avg_rdg,
                                   "% Passing Math": sch_percent_rdg_pass,
                                   "% Passing Reading": sch_percent_math_pass,
                                   "% Overall Passing Rate": school_overall_pass})
per_school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Huang High School,District,2917,1910635,655.0,78.985371,81.87784,0.858055,0.749809,0.803932
1,Figueroa High School,District,2949,1884411,639.0,78.985371,81.87784,0.858055,0.749809,0.803932
2,Shelton High School,Charter,1761,1056600,600.0,78.985371,81.87784,0.858055,0.749809,0.803932
3,Hernandez High School,District,4635,3022020,652.0,78.985371,81.87784,0.858055,0.749809,0.803932
4,Griffin High School,Charter,1468,917500,625.0,78.985371,81.87784,0.858055,0.749809,0.803932
5,Wilson High School,Charter,2283,1319574,578.0,78.985371,81.87784,0.858055,0.749809,0.803932
6,Cabrera High School,Charter,1858,1081356,582.0,78.985371,81.87784,0.858055,0.749809,0.803932
7,Bailey High School,District,4976,3124928,628.0,78.985371,81.87784,0.858055,0.749809,0.803932
8,Holden High School,Charter,427,248087,581.0,78.985371,81.87784,0.858055,0.749809,0.803932
9,Pena High School,Charter,962,585858,609.0,78.985371,81.87784,0.858055,0.749809,0.803932
10,Wright High School,Charter,1800,1049400,583.0,78.985371,81.87784,0.858055,0.749809,0.803932
11,Rodriguez High School,District,3999,2547363,637.0,78.985371,81.87784,0.858055,0.749809,0.803932
12,Johnson High School,District,4761,3094650,650.0,78.985371,81.87784,0.858055,0.749809,0.803932
13,Ford High School,District,2739,1763916,644.0,78.985371,81.87784,0.858055,0.749809,0.803932
14,Thomas High School,Charter,1635,1043130,638.0,78.985371,81.87784,0.858055,0.749809,0.803932