In [24]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#school_data_complete.head()
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [25]:
total_schools = school_data["school_name"].nunique()
total_students = student_data["student_name"].count()
total_budget = school_data["budget"].sum()
average_math_score = student_data["math_score"].mean()
average_reading_score = student_data["reading_score"].mean()
total_passing_rate = (average_reading_score + average_math_score) / 2

In [26]:
#data frame for math passing score of 70 or greater
mathdf = student_data.loc[student_data ["math_score"]>=70]
percent_pass_m = mathdf['student_name'].count() / total_students
percent_pass_m

0.749808526933878

In [27]:
#data frame for reading passing score of 70 or greater
readingdf = student_data.loc[student_data ["reading_score"]>=70]
percent_pass_r = readingdf['student_name'].count() / total_students
percent_pass_r

0.8580546336482001

In [28]:
#Create summary dataframe
district_summary= pd.DataFrame({"Total_Schools": [total_schools],
                                "Total_Students": [total_students],
                                "Total_Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "Percent Passing Math": [percent_pass_m],
                                "Percent Passing Reading": [percent_pass_r],
                                "% Overall Passing Rate": [total_passing_rate] 
                               })
district_summary

,Total_Schools,Total_Students,Total_Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

In [29]:
school = school_data["school_name"]
school_type = school_data["type"]
school_size = school_data["size"]
school_budget = school_data["budget"]
student_budget = school_budget / school_size
school_avg_math = student_data["math_score"].mean()
school_avg_rdg = student_data["reading_score"].mean()

In [31]:
school_math_pass = student_data.loc[student_data["math_score"]>=70]
school_rdg_pass = student_data.loc[student_data["reading_score"]>=70]

In [40]:
sch_percent_rdg_pass = school_rdg_pass['student_name'].count() / total_students
sch_percent_math_pass = school_math_pass['student_name'].count() / total_students
school_overall_pass = (sch_percent_math_pass + sch_percent_rdg_pass) / 2
school_overall_pass

0.8039315802910391

In [ ]:
#Create School Summary